body {
  display: flex;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.w3-sidebar {
  z-index: 1500;
  height: 100vh;
}

.sidebar-item {
  display: flex;
  align-items: center; /* Center vertically */
  margin: 5px;
}

.sidebar-item label {
  display: flex;
  align-items: center; /* Center vertically */
  font-weight: bold;
  flex: 1; /* Ensure label takes the remaining space */
}

.sidebar-item input[type="checkbox"] {
  margin-right: 10px;
}

.w3-button {
  font-weight: bold;
}

#map {
  flex-grow: 1;
  height: 100vh;
  width: calc(100% - 200px);
  z-index: 1;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: rgba(255, 255, 255, 0.7);
}

.leaflet-control-zoom {
  display: none;
}

#coordinateDisplay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
}

#searchBar {
  width: 100%; /* Ensure full width */
  margin-bottom: 5px; /* Space below the search bar */
}

#suggestions {
  display: none; /* Hidden by default */
  position: absolute; /* Position absolutely within .sidebar-item */
  top: 100%; /* Position directly below the search bar */
  left: 0; /* Align to the left */
  width: 100%; /* Match the width of the search bar */
  max-height: 150px; /* Set max height */
  overflow-y: auto; /* Enable scrolling */
  background-color: white; /* Set background color */
  z-index: 1000; /* Keep it on top */
  border: 1px solid #ccc; /* Optional border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Optional shadow */
}

/* Resource checkboxes */
.trade-checkbox,
.resource-checkbox {
  margin-right: 8px;
  cursor: pointer;
}

/* Add a transition effect for the icon rotation */
#rangesIcon,
#resourceIcon,
#marketIcon,
#transportIcon {
  transition: transform 0.3s ease;
}

/* Rotate the icon when the accordion is open */
.w3-show #rangesIcon,
.w3-show #resourceIcon,
.w3-show #marketIcon,
.w3-show #transportIcon {
  transform: rotate(180deg);
}

.button-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

#showAdvancedFilterButton {
  background-color: #e3e3e3;
  color: black;
  padding: 5px 30px;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
#showAdvancedFilterButton:hover {
  background-color: #323232;
  color: white;
  border-color: #000000;
}

#selectedTownDisplay {
  display: none; /* Hidden by default */
  position: fixed; /* Fixes the position relative to the viewport */
  top: 10px; /* Distance from the top edge of the viewport */
  right: 10px; /* Distance from the right edge of the viewport */
  background-color: #fff; /* Background color of the div */
  padding: 5px 10px; /* Padding inside the div */
  border: 1px solid #ccc; /* Border around the div */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for a subtle 3D effect */
  z-index: 1010;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-width: 300px;
  max-width: 600px;
  max-height: 600px;
  overflow: auto;
}

.popup-content {
  display: flex; /* Use flexbox to arrange the filter and the towns list side by side */
  gap: 20px; /* Adds space between the two sections */
}

.popup-close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
}

.popup-close:hover {
  color: red; /* Change color on hover */
}

/* Filter form styling */
#filterForm {
  flex: 1;
}

#filterForm label {
  display: block;
  margin-bottom: 10px;
}

/* Container for the resource and fertility checkboxes in two rows */
.checkbox-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start; /* Align items to the left */
  margin-bottom: 10px;
}

/* Town list container with scrollable feature */
#townsListContainer {
  flex: 1;
  max-height: 500px; /* Set max height for scrolling */
  overflow-y: auto; /* Scrollable */
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

#townsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#townsList li {
  padding: 5px 0;
}

.filter-input-small {
  width: 60px;
}

/* Map grayscale effect */
.grayscale {
  filter: grayscale(100%);
}
